


html,body{

height: 100%;




}





header{

    height: 100%;
    margin-bottom: -60px;

}



#intro{
 
    height: 85%;

background:url(../img/iceberg-404966_1920.jpg);
background-size: cover;
}
.pt-5{

    padding-top: 2rem!important;

}

.col-md-6{

    margin-top: 4rem!important;


}