body{



    background-color: rgb(107, 91, 71);
}


html,body,header,#intro{

height: 100%;




}

#intro{

background: rgb(214, 196, 255);

background:url(../img/iceberg-404966_1920.jpg);
background-size: cover;
}