body{


background-color:rgb(209, 167, 167);

}


.col{
border: 2px solid  rgb(75, 136, 40);
    margin-bottom: 20px;
}

.col-sm-4{

    border: 2px solid  rgb(106, 40, 136);
    margin-bottom: 20px;

}


.col-6{

    border: 2px solid  rgb(43, 53, 17);
    margin-bottom: 20px;


}

.bd-example-row .row>.col, .bd-example-row .row>[class^=col-] {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background: linear-gradient(#70197a,#651274);
    border: 1px solid rgb(211, 156, 201);
    color: white;
}


.my-fc{

   
        height: 100px;
        background-color: #351da1;
        margin-bottom: 20px;
    


}

.my-class .row>.col, .my-class .flex-row>[class^="p-"], .my-class .flex-column>[class^="p-"], .my-class .row>[class^=col-] {
    background: linear-gradient(#6b7a19,#651274);
    border: 1px dashed rgb(211, 156, 201);
    color: white;
}
